* {
    box-sizing: border-box;
    transition: .1s;
}

body {
    font-family: $f-stack;
    color: $c-text;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}
