* {
  box-sizing: border-box;
  transition: 0.1s;
}

body {
  font-family: "Open-Sans", sans-serif;
  color: #061C2C;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

body {
  margin-top: 80px;
}
@media (min-width: 745px) {
  body {
    margin-top: 100px;
  }
}
@media (min-width: 745px) {
  body {
    margin-top: 120px;
  }
}

.header {
  display: block;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFFFF;
}
@media (min-width: 745px) {
  .header {
    height: 100px;
  }
}
@media (min-width: 925px) {
  .header {
    height: 120px;
  }
}
.header .inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
}
.header-logo img {
  width: 120px;
}
@media (min-width: 1100px) {
  .header-logo img {
    width: 230px;
  }
}
.header-menu {
  margin-left: auto;
  width: 30px;
  transition: 0.3s;
}
.header-menu span {
  display: block;
  height: 3px;
  background-color: #061C2C;
  margin-bottom: 8px;
}
.header-menu:hover {
  transform: scale(1.2);
}

.home-main {
  display: block;
}
.home-main > section:not(.home-slider) {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}
.home-main > section:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 745px) {
  .home-main > section:not(:last-child) {
    margin-bottom: 90px;
  }
}

.home-about-copy {
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}
@media (min-width: 925px) {
  .home-about-copy {
    width: 60%;
    max-width: calc(100% - 327px);
    margin: 0 0 24px;
    float: left;
  }
}
@media (min-width: 1100px) {
  .home-about-copy {
    max-width: calc(100% - 436px);
  }
}
.home-about-logo {
  float: right;
  width: 307px;
  height: 31px;
  background: url("/assets/svg/asset32.svg") center/contain no-repeat;
}
@media (min-width: 1100px) {
  .home-about-logo {
    width: 416px;
    height: 42px;
  }
}
.home-about:after {
  content: "";
  display: table;
  clear: both;
}

.home-links ul {
  margin: 0 0 24px;
  padding: 0;
  list-style: none;
}
.home-links ul:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 925px) {
  .home-links-primary {
    height: 200px;
  }
}
.home-links-primary li {
  display: block;
  width: 100%;
  margin: 0 0 24px;
  padding: 0;
  height: auto;
}
@media (min-width: 925px) {
  .home-links-primary li {
    float: left;
    width: calc((100% - 48px) / 3);
    height: 200px;
  }
  .home-links-primary li:not(:last-child) {
    margin-right: 24px;
  }
}
.home-links-primary li a {
  display: block;
  position: relative;
  padding: 20px 0 20px 100px;
  margin: 0;
  height: 100%;
  background-color: #061C2C;
  background-image: url("/assets/svg/asset2.svg");
  background-repeat: no-repeat;
  background-position: top 31px left 32px;
  color: #FFFFFF;
  text-decoration: none;
  transition: transform 0.1s;
}
.home-links-primary li a:hover {
  transform: scale(1.025);
}
@media (min-width: 925px) {
  .home-links-primary li a {
    padding: 98px 0 0 32px;
  }
}
.home-links-primary li a span {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  text-transform: uppercase;
  user-select: none;
}
@media (min-width: 925px) {
  .home-links-primary li a span {
    font-size: 26px;
  }
}
.home-links-secondary li {
  display: block;
  margin-bottom: 24px;
  float: left;
}
@media (max-width: 744px) {
  .home-links-secondary li {
    width: calc((100% - 24px) / 2);
  }
  .home-links-secondary li:not(:nth-child(2n)) {
    margin-right: 24px;
  }
}
@media (min-width: 745px) and (max-width: 924px) {
  .home-links-secondary li {
    width: calc((100% - 48px) / 3);
  }
  .home-links-secondary li:not(:nth-child(3n)) {
    margin-right: 24px;
  }
}
@media (min-width: 925px) {
  .home-links-secondary li {
    width: calc((100% - 120px) / 6);
  }
  .home-links-secondary li:not(:nth-child(6n)) {
    margin-right: 24px;
  }
}
.home-links-secondary li a {
  display: block;
  height: 38px;
  line-height: 38px;
  padding: 0 35px 0 17px;
  background-color: #244AC2;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  color: #FFFFFF;
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/asset3.svg");
  transition: background-color 0.3s;
}
.home-links-secondary li a:hover {
  background-color: #061C2C;
}

.slider {
  position: relative;
}

.slider-container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider-container:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -60px;
  width: 50%;
  height: 120px;
  background-color: #244AC2;
}
.slider-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -60px;
  width: 50%;
  height: 120px;
  background-color: #000000;
}
.slider-container .slider-inner {
  position: relative;
}
.slider-container .slider-next {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  background-image: url("/assets/svg/slider-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  cursor: pointer;
  transition: transform 0.1s;
}
.slider-container .slider-next:hover {
  transform: translate3d(10px, 0, 0);
  width: 90px;
}
@media (min-width: 925px) {
  .slider-container .slider-next {
    width: 101px;
    height: 118px;
    margin-top: -59px;
  }
  .slider-container .slider-next:hover {
    transform: translate3d(10px, 0, 0);
    width: 111px;
  }
}
.slider-container ul {
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0 0 0 -100%;
  padding: 0;
  list-style: none;
}
.slider-container ul li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
.slider-container ul li h3 {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #244AC2;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}
@media (min-width: 925px) {
  .slider-container ul li h3 {
    width: auto;
    height: 120px;
    margin-top: -60px;
    padding: 0 100px 0 60px;
    font-size: 25px;
    line-height: 120px;
  }
}
.slider-container ul li img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
